.table-view{
   -fx-background-color: transparent;
   
   
}

.table-view:focused{
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

/* Spaltenkï¿½pfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#B26700 0.0%, #B26700 100.0%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill:  white;
     -fx-font-size: 15.0;
    -fx-font-weight:bold;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #161032;
    -fx-font-size: 13.0;
    -fx-font-weight:bold;
}


.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FFFFFF;
    -fx-text-fill:#161032;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; /* 0 */
}

/* .table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color,  #161032;
    -fx-text-fill:white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
    
}
*/
.table-row-cell:selected {
    -fx-background-color: #FFC53A;
    
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0.0;
}

