.combo-box .list-cell 
{
    -fx-background:  #F3D9DC;
    -fx-background-color:  #F3D9DC;
    -fx-text-fill: black;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color:  #F3D9DC;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #F3D9DC;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #F0D0D4;
    -fx-text-fill: black;
}

.combo-box-base  
{
    
    -fx-background-color:  #F3D9DC,  #F3D9DC,  #F3D9DC,  #F3D9DC;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: black;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}
